a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #888;
}

.num {
  display: inline-block;
}

.comments {
  display: none;
}

@media screen and (max-width: 800px) {
  .num {
    display: none;
  }
}